<div class="sidenav-header">
  <i
    class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
    aria-hidden="true"
    id="iconSidenav"
  >
</i>
  <a
    class="navbar-brand m-0"
  >
  <img
      src="../../../../assets/img/Fichier 2.png"
      class="navbar-brand-img h-100"
      alt="main_logo"
    />
  </a>
</div>
<hr class="horizontal dark mt-0" />
<div class="w-auto" id="sidenav-collapse-main">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/dashboard/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div
          class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
        >
          <i class="ni ni-tv-2 text-green text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Tableau de bord</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/dashboard/mes-demandes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div
          class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
        >
          <i class="ni ni-collection text-green text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Mes demandes</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/dashboard/initier-demande"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div
          class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
        >
          <i class="fa-solid fa-square-plus text-green text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Initier une demande</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/dashboard/historique"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div
          class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
        >
          <i
            class="fa-solid fa-clock-rotate-left text-green text-sm opacity-10"
          ></i>
        </div>
        <span class="nav-link-text ms-1">Historique</span>
      </a>
    </li>
    <li class="nav-item mt-3">
      <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">
        Mon compte
      </h6>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/dashboard/profil"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div
          class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
        >
          <i class="ni ni-single-02 text-green text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Profil</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../pages/sign-up.html">
        <div
          class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
        >
          <i
            class="fa-solid fa-arrow-right-to-bracket text-green text-sm opacity-10"
          ></i>
        </div>
        <span class="nav-link-text ms-1">Se déconnecter</span>
      </a>
    </li>
  </ul>
</div>
