<div class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">
                  Nouvelles demandes
                </p>
                <h5 class="font-weight-bolder">$53,000</h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle"
              >
                <i
                  class="fa-solid fa-arrows-spin text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">
                  Demandes acceptés
                </p>
                <h5 class="font-weight-bolder">2,300</h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle"
              >
                <i
                  class="fa-solid fa-check text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">
                  Demandes rejetées
                </p>
                <h5 class="font-weight-bolder">+3,462</h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle"
              >
                <i
                  class="fa-solid fa-triangle-exclamation text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 text">
    <div class="col-xl-12">
      <h2>Les nouvelles demandes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 table">
      <p-card>
        <p-table [value]="pret" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Code</th>
              <th>Nom du demandeur</th>
              <th>Type</th>
              <th>Montant</th>
              <th>Durée</th>
              <th>Date de la demande</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pret>
            <tr>
              <td>{{ pret.code }}</td>
              <td>{{ pret.nom_client }}</td>
              <td>{{ pret.type }}</td>
              <td>{{ pret.montant }}</td>
              <td>{{ pret.duree }}</td>
              <td>{{ pret.date_demande }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>
</div>
