<div class="min-height-300 bg-primary position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4" id="sidenav-main">
<app-sidebar></app-sidebar>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</main>
