<div class="back min-height-300  position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4" id="sidenav-main">
<app-left-bar></app-left-bar>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</main>
