<section class="mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 bigpic">
        <img src="assets/img/demandes.jpg" />
        <div class="text-container">
          <h1>Mes demandes</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section description">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <p>Sur cette interface sont regroupés vos demandes de prêt en cours</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 table">
        <p-card>
          <p-table [value]="pret" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th>Code</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Durée</th>
                <th>Statut</th>
                <th>Evolution</th>
                <th>Modifier</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pret>
              <tr>
                <td>{{ pret.code }}</td>
                <td>{{ pret.type }}</td>
                <td>{{ pret.montant }}</td>
                <td>{{ pret.duree }}</td>
                <td>
                  <p-button label="{{ pret.statut }}" icon="pi pi-spinner" iconPos="left"></p-button>
                </td>
                <td>
                  <button routerLink="/dashboard/progress" pButton label="Voir évolution" icon="pi pi-eye" iconPos="left" class="p-button-warning"></button>
                </td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>
    </div>
  </div>
</div>
