<div class="body">
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain">
                <div class="card-header pb-0 text-start">
                  <h4 class="font-weight-bolder">Connectez-vous</h4>
                  <p class="mb-0">Entrez votre adresse mail</p>
                </div>
                <div class="card-body">
                  <form role="form">
                    <div class="mb-3">
                      <input type="email" class="form-control form-control-lg" placeholder="Email" aria-label="Email">
                    </div>
                    <div class="mb-3">
                      <input type="email" class="form-control form-control-lg" placeholder="Password" aria-label="Password">
                    </div>
                    <div class="text-center">
                      <button type="button" class=" c-button btn btn-lg btn-lg w-100 mt-4 mb-0">Se connecter</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-5 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative  h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-color: var(--color-primary);
          background-size: cover;">
          <img src="assets/img/logo-var.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>

