<section class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="main position-relative">
          <div class="profil-icon">
            <img src="assets/img/profil.svg">
          </div>
          <div class="text">
            <h3>Mon profil</h3>
            <p>Gérer les paramètres de votre profil</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row formular">
      <div class="col-xl-12 formular-col position-relative">
        <form>
          <section class="">
            <h3>Identité</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Nom</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Nom"
                  />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Prénoms</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Prénoms"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Adresse mail</label>
                  <input class="input-style" type="text" id="" />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Mot de passe</label>
                  <input
                    class="input-style"
                    type="password"
                    id=""
                    placeholder="Mot de passe"
                  />
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
</section>
