<p-toast></p-toast>
<section class="mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 bigpic">
        <img src="assets/img/intervenants.jpg" />
        <div class="text-container">
          <h1>Intervenants</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section description">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <p>Sur cet espace, créer, modifier et bloquez les intervenants</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 table">
        <p-card>
          <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
              <button
                pButton
                pRipple
                label="Créer un intervenant"
                icon="pi pi-plus"
                class="create p-button mr-2"
                (click)="openDialog()"
              ></button>
            </ng-template>
          </p-toolbar>
          <p-table [value]="intervenant" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Prénoms</th>
                <th>Type</th>
                <th>Modifier</th>
                <th>Bloquer</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-intervenant>
              <tr>
                <td>{{ intervenant.numero }}</td>
                <td>{{ intervenant.nom }}</td>
                <td>{{ intervenant.prenoms }}</td>
                <td>{{ intervenant.type }}</td>
                <td>
                  <button
                    pButton
                    label="Modifier"
                    icon="pi pi-pencil"
                    iconPos="left"
                    class="p-button-primary"
                  ></button>
                </td>
                <td>
                  <button
                    pButton
                    label="bloquer"
                    icon="pi pi-times"
                    iconPos="left"
                    class="p-button-danger"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '600px' }"
  header="Créer un intervenant"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adresse mail</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Mot de passe</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nom</label>
        <input type="text" class="form-control" id="exampleInputPassword1" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Prénoms</label>
        <input type="text" class="form-control" id="exampleInputPassword1" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Type</label>
        <select class="form-select" name="" id="">
          <option value="" selected disabled hidden>
            Sélectionnez le type du compte
          </option>
          <option value="Masculin">Niveau 1</option>
          <option value="Féminin">Niveau 2</option>
          <option value="Féminin">Niveau 3</option>
          <option value="Féminin">Niveau 4</option>
        </select>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Annuler"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Confirmer"
      icon="pi pi-check"
      class="p-button-text"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
