.topbar{
  display: flex;
  padding-left: 15px;
  gap: 1rem;
  color: white;
  align-items: center;
  position: relative;
  z-index: 100;
  height: 60px;
  width: 20rem;
  background: rgb(17,94,56);
  background: linear-gradient(90deg, rgba(17,94,56,1) 0%, rgba(8,210,140,1) 100%);
}

.topbar h4{
  font-size: 2rem;
  color: white;
}
.main {
  border-radius: 15px;
  color: black;
  padding: 78px 54px;
  top: -2rem;
  position: relative;
  background-color: white;
  width: 100%;
  height: 10rem;
}



.c-button{
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background: linear-gradient(90deg, rgba(255, 134, 5, 1) 0%, rgba(255, 174, 88, 1) 100%);
}

.c-button-p {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background: rgb(17,94,56);
  background: linear-gradient(90deg, rgba(17,94,56,1) 0%, rgba(8,210,140,1) 100%);
}

.c-button img{
  width: 1rem;
  filter: brightness(0) invert(1);
}

.c-button-p img{
  transform: scaleX(-1);
  width: 1rem;
  filter: brightness(0) invert(1);
}

.formular-col{
  border-radius: 15px;
  background-color: white;
  height: auto;
  width: 100%;
  padding: 54px 54px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}


.form-group label {
  font-size: 0.9rem;
  font-weight: 500;
}

.input-style{
  transition: all 300ms ease;
  height: 40px;
  width: 100%;
  font-size: 0.7rem;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  padding: 20px 20px;
}

.input-style:focus{
  border: none;
  background-color: var(--color-active-input);
  outline: none;
}

.p-custom {
  background: linear-gradient(90deg, rgba(255, 134, 5, 1) 0%, rgba(255, 174, 88, 1) 100%) !important;
}

.back img{
  filter: brightness(0) invert(1);
  width: 2.5rem;
}

.back{
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}
