<section class="">
  <div class="container-fluid">
    <div class="row back-button mb-4">
      <div class="col-xl-12">
        <button class="back"  (click)="back()">
          <img src="assets/img/back-button.png">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="topbar">
          <h4>
            <i class="fa-solid fa-graduation-cap"></i>
            Prêt Scolaire
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="main position-relative">
          <div>
            <p-steps
              [model]="items"
              [(activeIndex)]="activeIndex"
              [readonly]="true"
            ></p-steps>
          </div>
        </div>
      </div>
    </div>
    <div class="row formular">
      <div class="col-xl-12 formular-col position-relative">
        <form>
          <section class="" *ngIf="activeIndex == 0">
            <h3>Identité</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Nom</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Nom"
                  />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Prénoms</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Prénoms"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Date de naissance</label>
                  <input class="input-style" type="date" id="" />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Lieu de naissance</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Lieu de naissance"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Sexe</label>
                  <select class="form-select" name="" id="">
                    <option value="" selected disabled hidden>
                      Sélectionnez votre sexe
                    </option>
                    <option value="Masculin">Masculin</option>
                    <option value="Féminin">Féminin</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Nationalité</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Nationalité"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Lieu de résidence</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Lieu de résidence"
                  />
                </div>
              </div>
            </div>
            <h3>Informations Pièce d'indentité</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Nature</label>
                  <select class="form-select" name="" id="">
                    <option value="" selected disabled hidden>
                      Sélectionnez la nature de votre pièce
                    </option>
                    <option value="CNI">CNI</option>
                    <option value="Attestation d'identité">Attestation d'identité</option>
                    <option value="Passeport">Passeport</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Numéro de la pièce</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Numéro de la pièce"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Date de fin de validité</label>
                  <input class="input-style" type="date" id="" />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Scan de votre pièce d'identité</label>
                  <input

                    type="file"
                    id=""
                    placeholder="Pièce d'identité"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <button
                (click)="navigate('next')"
                class="c-button position-absolute bottom-0 end-0 mb-3 mr-5"
              >
                Suivant
                <img class="ml-3" src="assets/img/next.svg" />
              </button>
            </div>
            <h3>Formation</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Niveau d'études</label>
                  <select class="form-select" name="" id="">
                    <option value="" selected disabled hidden>
                      Sélectionnez votre niveau d'études
                    </option>
                    <option value="CNI">Primaire</option>
                    <option value="Secondaire général">Secondaire général</option>
                    <option value="Secondaire technique & professionnel">Secondaire technique & professionnel</option>
                    <option value="Supérieur">Supérieur</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Diplôme</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Diplôme"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Formation/Qualification</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Formation/Qualification"
                  />
                </div>
              </div>
            </div>
            <h3>Régime matrimonial</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Etat matrimonial</label>
                  <select class="form-select" name="" id="">
                    <option value="" selected disabled hidden>
                      Sélectionnez votre état matrimonial
                    </option>
                    <option value="Celibataire">Célibataire</option>
                    <option value="Marie">Marié (e)</option>
                    <option value="En concubinage">En concubinage</option>
                    <option value="Veuf">Veuf (ve)</option>
                    <option value="Veuf">Divorcé (e)</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Avez vous des enfants ?</label>
                  <div class="row-group d-flex mt-2">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">Non</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Si oui, quel est le nombre d'enfants que vous avez ?</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Nombre d'enfants"
                  />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Avez vous d'autres personnes à votre charge ?</label>
                  <div class="row-group d-flex mt-2">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">Non</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Si oui, quel est le nombre d'autres personnes à votre charge?</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Nombre d'enfants"
                  />
                </div>
              </div>
            </div>
          </section>
          <section class="" *ngIf="activeIndex == 1">
            <h3>Situation professionnelle</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Secteur d'activité</label>
                  <select class="form-select" name="" id="">
                    <option value="" selected disabled hidden>
                      Sélectionnez votre secteur d'activité
                    </option>
                    <option value="Masculin">Privé</option>
                    <option value="Féminin">Public</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Profession</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Nom"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Type de contrat</label>
                  <select class="form-select" name="" id="">
                    <option value="" selected disabled hidden>
                      Sélectionnez votre type de contrat
                    </option>
                    <option value="Masculin">CDI</option>
                    <option value="Féminin">CDD</option>
                    <option value="Féminin">Intérim</option>
                    <option value="Féminin">Autre</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Depuis quelle date ?</label>
                  <input class="input-style" type="date" id="" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Date de début ?</label>
                  <input class="input-style" type="date" id="" />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Date de fin</label>
                  <input class="input-style" type="date" id="" />
                </div>
              </div>
            </div>
            <h3>Informations sur l'employeur</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Nom de l'employeur</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Nom de l'employeur"
                  />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Ville de l'employeur</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Ville de l'employeur"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Téléphone de l'employeur</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Téléphone de l'employeur"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <button
                (click)="navigate('previous')"
                class="c-button-p position-absolute bottom-0 start-0 mb-3 mr-5"
              >
                <img class="ml-3" src="assets/img/next.svg" />
                Précédent
              </button>
              <button
                (click)="navigate('next')"
                class="c-button position-absolute bottom-0 end-0 mb-3 mr-5"
              >
                Suivant
                <img class="ml-3" src="assets/img/next.svg" />
              </button>
            </div>
          </section>
          <section class="" *ngIf="activeIndex == 2">
            <h3>Contrat de prêt</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Montant</label>
                  <input
                  name="Montant"
                  [(ngModel)]="Montant"
                    class="input-style"
                    type="number"
                    id=""
                    placeholder="Montant du prêt"
                  />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Durée en année</label>
                  <input
                  name="annee"
                  [(ngModel)]="annee"
                    class="input-style"
                    type="number"
                    id=""
                    placeholder="Année"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Taux</label>
                  <input
                  name="Taux"
                  [(ngModel)]="Taux"
                    class="input-style"
                    type="number"
                    id=""
                    placeholder="Taux"
                  />
                </div>
              </div>
              <div class="col-xl-12 mb-5">
                <button class="c-button" (click)="TableauGenerate()" type="">Calculer</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 table">
                <p-card>
                  <p-table [value]="object_table" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Mois</th>
                        <th>Montant</th>
                        <th>Mensualité</th>
                        <th>Intérêts</th>
                        <th>Capital amorti</th>
                        <th>Reste dû</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-object_table>
                      <tr>
                        <td>{{ object_table.number }}</td>
                        <td>{{ object_table.montant }} FCFA</td>
                        <td>{{ object_table.mensualites }} FCFA</td>
                        <td>{{ object_table.interet }} FCFA</td>
                        <td>{{ object_table.amorti }} FCFA</td>
                        <td>{{ object_table.capital }} FCFA</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-card>
              </div>
            </div>
            <div class="row">
              <button
                (click)="navigate('previous')"
                class="c-button-p position-absolute bottom-0 start-0 mb-3 mr-5"
              >
                <img class="ml-3" src="assets/img/next.svg" />
                Précédent
              </button>
              <button
                (click)="navigate('next')"
                class="c-button position-absolute bottom-0 end-0 mb-3 mr-5"
              >
                Suivant
                <img class="ml-3" src="assets/img/next.svg" />
              </button>
            </div>
          </section>
          <section class="" *ngIf="activeIndex == 3">
            <h3>Documents à fournir</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>Demande de prêt manuscrite</label>
                  <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>3ème dernier bulletin de salaire</label>
                  <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>2ème dernier bulletin de salaire</label>
                  <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>1er dernier bulletin de salaire</label>
                  <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>Un engagement de domiciliation irrévocable de salaire</label>
                  <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>Une reconnaissance de dette</label>
                  <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>Un formulaire d'assurance renseigné
                  </label>
                  <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>Une attestation de non redevance
                  </label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>Photo d'identité
                  </label>
                  <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>Certificat de résidence
                  </label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>Une attestation de présence au corps (pour les militaires, policiers...)
                  </label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>Une attestation de travail (pour les salariés) ;
                  </label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>Une attestation de non révocation de domiciliation bancaire (pour les fonctionnaires) ;
                  </label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label>Une attestation administrative pour prêt bancaire (pour les fonctionnaires).
                  </label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                </div>
              </div>
            </div>
            <div class="row">
              <button
                (click)="navigate('previous')"
                class="c-button-p position-absolute bottom-0 start-0 mb-3 mr-5"
              >
                <img class="ml-3" src="assets/img/next.svg" />
                Précédent
              </button>
              <button
                (click)="navigate('next')"
                class="c-button position-absolute bottom-0 end-0 mb-3 mr-5"
              >
                Suivant
                <img class="ml-3" src="assets/img/next.svg" />
              </button>
            </div>
          </section>
          <section class="" *ngIf="activeIndex == 4">
            <h2 class="mb-4">Résumé</h2>
            <div class="1">
              <h3>Identité</h3>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Nom</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Nom"
                    />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Prénoms</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Prénoms"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Date de naissance</label>
                    <input class="input-style" type="date" id="" />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Lieu de naissance</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Lieu de naissance"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Sexe</label>
                    <select class="form-select" name="" id="">
                      <option value="" selected disabled hidden>
                        Sélectionnez votre sexe
                      </option>
                      <option value="Masculin">Masculin</option>
                      <option value="Féminin">Féminin</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Nationalité</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Nationalité"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Lieu de résidence</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Lieu de résidence"
                    />
                  </div>
                </div>
              </div>
              <h3>Informations Pièce d'indentité</h3>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Nature</label>
                    <select class="form-select" name="" id="">
                      <option value="" selected disabled hidden>
                        Sélectionnez la nature de votre pièce
                      </option>
                      <option value="CNI">CNI</option>
                      <option value="Attestation d'identité">Attestation d'identité</option>
                      <option value="Passeport">Passeport</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Numéro de la pièce</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Numéro de la pièce"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Date de fin de validité</label>
                    <input class="input-style" type="date" id="" />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Scan de votre pièce d'identité</label>
                    <input

                      type="file"
                      id=""
                      placeholder="Pièce d'identité"
                    />
                  </div>
                </div>
              </div>
              <h3>Formation</h3>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Niveau d'études</label>
                    <select class="form-select" name="" id="">
                      <option value="" selected disabled hidden>
                        Sélectionnez votre niveau d'études
                      </option>
                      <option value="CNI">Primaire</option>
                      <option value="Secondaire général">Secondaire général</option>
                      <option value="Secondaire technique & professionnel">Secondaire technique & professionnel</option>
                      <option value="Supérieur">Supérieur</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Diplôme</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Diplôme"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Formation/Qualification</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Formation/Qualification"
                    />
                  </div>
                </div>
              </div>
              <h3>Régime matrimonial</h3>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Etat matrimonial</label>
                    <select class="form-select" name="" id="">
                      <option value="" selected disabled hidden>
                        Sélectionnez votre état matrimonial
                      </option>
                      <option value="Celibataire">Célibataire</option>
                      <option value="Marie">Marié (e)</option>
                      <option value="En concubinage">En concubinage</option>
                      <option value="Veuf">Veuf (ve)</option>
                      <option value="Veuf">Divorcé (e)</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Avez vous des enfants ?</label>
                    <div class="row-group d-flex mt-2">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Si oui, quel est le nombre d'enfants que vous avez ?</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Nombre d'enfants"
                    />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Avez vous d'autres personnes à votre charge ?</label>
                    <div class="row-group d-flex mt-2">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Si oui, quel est le nombre d'autres personnes à votre charge?</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Nombre d'enfants"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="2">
              <h3>Situation professionnelle</h3>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Secteur d'activité</label>
                    <select class="form-select" name="" id="">
                      <option value="" selected disabled hidden>
                        Sélectionnez votre secteur d'activité
                      </option>
                      <option value="Masculin">Privé</option>
                      <option value="Féminin">Public</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Profession</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Nom"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Type de contrat</label>
                    <select class="form-select" name="" id="">
                      <option value="" selected disabled hidden>
                        Sélectionnez votre type de contrat
                      </option>
                      <option value="Masculin">CDI</option>
                      <option value="Féminin">CDD</option>
                      <option value="Féminin">Intérim</option>
                      <option value="Féminin">Autre</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Depuis quelle date ?</label>
                    <input class="input-style" type="date" id="" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Date de début ?</label>
                    <input class="input-style" type="date" id="" />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Date de fin</label>
                    <input class="input-style" type="date" id="" />
                  </div>
                </div>
              </div>
              <h3>Informations sur l'employeur</h3>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Nom de l'employeur</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Nom de l'employeur"
                    />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Ville de l'employeur</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Ville de l'employeur"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Téléphone de l'employeur</label>
                    <input
                      class="input-style"
                      type="text"
                      id=""
                      placeholder="Téléphone de l'employeur"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="3">
              <h3>Contrat de prêt</h3>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Montant</label>
                    <input
                    name="Montant"
                    [(ngModel)]="Montant"
                      class="input-style"
                      type="number"
                      id=""
                      placeholder="Montant du prêt"
                    />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Durée en année</label>
                    <input
                    name="annee"
                    [(ngModel)]="annee"
                      class="input-style"
                      type="number"
                      id=""
                      placeholder="Année"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label for="email">Taux</label>
                    <input
                    name="Taux"
                    [(ngModel)]="Taux"
                      class="input-style"
                      type="number"
                      id=""
                      placeholder="Taux"
                    />
                  </div>
                </div>

              </div>

            </div>
            <div class="4">
              <h3>Documents à fournir</h3>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>Demande de prêt manuscrite</label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>3ème dernier bulletin de salaire</label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>2ème dernier bulletin de salaire</label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>1er dernier bulletin de salaire</label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>Un engagement de domiciliation irrévocable de salaire</label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>Une reconnaissance de dette</label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>Un formulaire d'assurance renseigné
                    </label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>Une attestation de non redevance
                    </label>
                      <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>Photo d'identité
                    </label>
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>Certificat de résidence
                    </label>
                      <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>Une attestation de présence au corps (pour les militaires, policiers...)
                    </label>
                      <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>Une attestation de travail (pour les salariés) ;
                    </label>
                      <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>Une attestation de non révocation de domiciliation bancaire (pour les fonctionnaires) ;
                    </label>
                      <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-4">
                    <label>Une attestation administrative pour prêt bancaire (pour les fonctionnaires).
                    </label>
                      <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [auto]="true"></p-fileUpload>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <button
                (click)="navigate('previous')"
                class="c-button-p position-absolute bottom-0 start-0 mb-3 mr-5"
              >
                <img class="ml-3" src="assets/img/next.svg" />
                Précédent
              </button>
              <button
                (click)="navigate('next')"
                class="c-button position-absolute bottom-0 end-0 mb-3 mr-5"
              >
                Valider
                <img class="ml-3" src="assets/img/next.svg" />
              </button>
            </div>
          </section>

        </form>
      </div>
    </div>
  </div>
</section>
