<section class="mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 bigpic">
        <img src="assets/img/demandes.jpg" />
        <div class="text-container">
          <h1>Mes demandes</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section description">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <p>Sur cette interface sont regroupés vos demandes de prêt en cours</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 table">
        <p-card>
          <h5>Evolution</h5>
          <p-progressBar [value]="value"></p-progressBar>
        </p-card>
      </div>
    </div>
  </div>
</div>

