/* You can add global styles to this file, and also import other style files */
@import "~animate.css/animate.min";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
/* -------------------- ROOT VARIABLES  -----------------------*/

:root {
  --color-primary: #FF921E;
  --color-secondary: #115E38;
  --color-gradient-1 : #FFAE58;
  --color-gradient-2 :#FF8605;
  --color-active-input: #F2F5FF;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --colr-background:#F1F2F5;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-light: #EFEFEF;
  --color-info-dark: #8C8C8C;
  --color-info-light: #dce1eb;
  --color-dark: #000000;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

