
.bigpic {
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bigpic img {
  z-index: 50;
  top: 0rem;
  position: relative;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.bigpic .text-container {
  top: 17rem;
  z-index: 100;
  background-color: var(--color-secondary);
  left: 0rem;
  width:26rem;
  padding-left: 1rem;
  height: 3rem;
  position: absolute;
  color: white;
  font-weight: bold;

}

.text-container h1{
  color: white;
  font-size: 2.3rem;
}

.description p{
  color: black;
  font-size: 1rem;
}

.text h2{
  color: white;
}

.table th{
  font-size: 0.9rem;
}

.table td{
  font-size: 0.9rem;
}
.p-button-label {
  font-size: 0.9rem !important;
}

