<section class="mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 bigpic">
        <img src="assets/img/demandes.jpg" />
        <div class="text-container">
          <h1>Nouvelles demandes</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section description">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <p>Sur cette interface sont regroupés les demandes qui attendent votre traitement</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 table">
        <p-card>
          <p-table [value]="pret" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th>Code</th>
                <th>Nom du demandeur</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Durée</th>
                <th>Date de la demande</th>
                <th>Traitement</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pret>
              <tr>
                <td>{{ pret.code }}</td>
                <td>{{ pret.nom_client }}</td>
                <td>{{ pret.type }}</td>
                <td>{{ pret.montant }}</td>
                <td>{{ pret.duree }}</td>
                <td>{{ pret.date_demande }}</td>
                <td>
                  <button pButton label="Traiter la demande" icon="pi pi-eye" iconPos="left" class="p-button-warning"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>
    </div>
  </div>
</div>
