<section class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="main position-relative">
          <div class="profil-icon">
            <img src="assets/img/profil.svg">
          </div>
          <div class="text">
            <h3>Mon profil</h3>
            <p>Gérer les paramètres de votre profil</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row formular">
      <div class="col-xl-12 formular-col position-relative">
        <form>
          <section class="">
            <h3>Identité</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Nom</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Nom"
                  />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Prénoms</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Prénoms"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Date de naissance</label>
                  <input class="input-style" type="date" id="" />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Lieu de naissance</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Lieu de naissance"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Sexe</label>
                  <select class="form-select" name="" id="">
                    <option value="" selected disabled hidden>
                      Sélectionnez votre sexe
                    </option>
                    <option value="Masculin">Masculin</option>
                    <option value="Féminin">Féminin</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Nationalité</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Nationalité"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Lieu de résidence</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Lieu de résidence"
                  />
                </div>
              </div>
            </div>
            <h3>Informations Pièce d'indentité</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Nature</label>
                  <select class="form-select" name="" id="">
                    <option value="" selected disabled hidden>
                      Sélectionnez la nature de votre pièce
                    </option>
                    <option value="CNI">CNI</option>
                    <option value="Attestation d'identité">
                      Attestation d'identité
                    </option>
                    <option value="Passeport">Passeport</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Numéro de la pièce</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Numéro de la pièce"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Date de fin de validité</label>
                  <input class="input-style" type="date" id="" />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Scan de votre pièce d'identité</label>
                  <input type="file" id="" placeholder="Pièce d'identité" />
                </div>
              </div>
            </div>
            <div class="row">
              <button
                class="c-button position-absolute bottom-0 end-0 mb-3 mr-5"
              >
                Modifier
              </button>
            </div>
            <h3>Formation</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Niveau d'études</label>
                  <select class="form-select" name="" id="">
                    <option value="" selected disabled hidden>
                      Sélectionnez votre niveau d'études
                    </option>
                    <option value="CNI">Primaire</option>
                    <option value="Secondaire général">
                      Secondaire général
                    </option>
                    <option value="Secondaire technique & professionnel">
                      Secondaire technique & professionnel
                    </option>
                    <option value="Supérieur">Supérieur</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Diplôme</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Diplôme"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Formation/Qualification</label>
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Formation/Qualification"
                  />
                </div>
              </div>
            </div>
            <h3>Régime matrimonial</h3>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Etat matrimonial</label>
                  <select class="form-select" name="" id="">
                    <option value="" selected disabled hidden>
                      Sélectionnez votre état matrimonial
                    </option>
                    <option value="Celibataire">Célibataire</option>
                    <option value="Marie">Marié (e)</option>
                    <option value="En concubinage">En concubinage</option>
                    <option value="Veuf">Veuf (ve)</option>
                    <option value="Veuf">Divorcé (e)</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email">Avez vous des enfants ?</label>
                  <div class="row-group d-flex mt-2">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio1"
                        value="option1"
                      />
                      <label class="form-check-label" for="inlineRadio1"
                        >Oui</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio2"
                        value="option2"
                      />
                      <label class="form-check-label" for="inlineRadio2"
                        >Non</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email"
                    >Si oui, quel est le nombre d'enfants que vous avez ?</label
                  >
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Nombre d'enfants"
                  />
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email"
                    >Avez vous d'autres personnes à votre charge ?</label
                  >
                  <div class="row-group d-flex mt-2">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio1"
                        value="option1"
                      />
                      <label class="form-check-label" for="inlineRadio1"
                        >Oui</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio2"
                        value="option2"
                      />
                      <label class="form-check-label" for="inlineRadio2"
                        >Non</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group mb-4">
                  <label for="email"
                    >Si oui, quel est le nombre d'autres personnes à votre
                    charge?</label
                  >
                  <input
                    class="input-style"
                    type="text"
                    id=""
                    placeholder="Nombre d'enfants"
                  />
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
</section>
