<section class="mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 bigpic">
        <img src="assets/img/demandes.jpg" />
        <div class="text-container">
          <h1>Initier une demande</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section description">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <p>Initiez votre demande de prêt bancaire sur cette interface</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container-fluid">
    <div class="row item-row">
      <div class="col-xl-3 item position-relative" (click)="showIcon1()" [ngClass]="{'active': icon1 === true}" >
        <div class="icon">
          <i class="fa-solid fa-graduation-cap"></i>
        </div>
        <p>Prêt scolaire</p>
        <div
        *ngIf="icon1"
         class="after position-absolute top-100 start-50 translate-middle">
          <img src="assets/img/done.png">
        </div>
      </div>
      <div class="col-xl-3 item position-relative"  (click)="showIcon2()" [ngClass]="{'active': icon2 === true}">
        <div class="icon">
          <i class="fa-solid fa-building-columns"></i>
        </div>
        <p>Prêt immobilier</p>
        <div
        *ngIf="icon2"
         class="after position-absolute top-100 start-50 translate-middle">
          <img src="assets/img/done.png">
        </div>
      </div>
      <div class="col-xl-3 item position-relative"  (click)="showIcon3()" [ngClass]="{'active': icon3 === true}">
        <div class="icon">
          <i class="fa-solid fa-car"></i>
        </div>
        <p>Prêt automobile</p>
        <div
        *ngIf="icon3"
         class="after position-absolute top-100 start-50 translate-middle">
          <img src="assets/img/done.png">
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-xl-12 row-button">
        <button
        *ngIf="icon1"
         routerLink="/dashboard/initier-demande/prêt-scolaire" class="c-button">
          Suivant
          <img class="ml-3" src="assets/img/next.svg">
        </button>
        <button
        *ngIf="icon2"
         routerLink="/dashboard/initier-demande/prêt-immobilier" class="c-button">
          Suivant
          <img class="ml-3" src="assets/img/next.svg">
        </button>
        <button
        *ngIf="icon3"
         routerLink="/dashboard/initier-demande/prêt-automobile" class="c-button">
          Suivant
          <img class="ml-3" src="assets/img/next.svg">
        </button>
      </div>
    </div>
  </div>
</div>
