
.bigpic {
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bigpic img {
  z-index: 50;
  top: 0rem;
  position: relative;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.bigpic .text-container {
  top: 17rem;
  z-index: 100;
  background-color: var(--color-primary);
  left: 0rem;
  width: 25rem;
  padding-left: 1rem;
  height: 3rem;
  position: absolute;
  color: white;
  font-weight: bold;

}
.text-container h1{
  color: white;
  font-size: 2.3rem;
}

.description p{
  color: black;
  font-size: 1rem;
}

.text h2{
  color: white;
}

.table th{
  font-size: 0.9rem;
}

.table td{
  font-size: 0.9rem;
}
.p-button-label {
  font-size: 0.9rem !important;
}

.item-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.item{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  height: 15rem;
  background-color: white;
  transition: all 300ms ease;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.icon i {
  color: white;
  font-size: 4rem;
}

.item p{
  font-weight: bold;
  color: black;
  font-size: 1.7rem;
}


.active {
  background-color: var(--color-secondary);
}
.active p {
  color: white !important;
}


.item:hover{
  background-color: var(--color-secondary);
}
.item:hover p{
  color: white;
}

.item:hover .icon{
  background: linear-gradient(90deg, rgba(255, 134, 5, 1) 0%, rgba(255, 174, 88, 1) 100%);
}

.after img{
  width: 50px;
  height: 50px;
}

.row-button{
  display: flex;
  justify-content: flex-end;
}

.c-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background: linear-gradient(90deg, rgba(255, 134, 5, 1) 0%, rgba(255, 174, 88, 1) 100%);
}

.c-button img{
  width: 1rem;
  filter: brightness(0) invert(1);
}

